.desc-div {
  padding-top: 213px;
  text-align: center;
}
#d1 {
  color: rgb(220, 120, 11);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 20%;
  text-align: center;
  text-transform: uppercase;
}
#d2 {
  padding-top: 12px;
  padding-bottom: 23px;
  color: rgb(0, 0, 0);
  font-family: Philosopher, sans-serif;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
#d3 {
  padding-bottom: 73px;
  color: rgb(0, 0, 0);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
#d4 {
  padding-top: 41px;
  padding-bottom: 20px;
  color: rgb(0, 0, 0);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
#d5 {
  padding-top: 32px;
  padding-bottom: 120px;
  color: rgb(0, 0, 0);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
